@import '../../functions';
@import '../../variables';
@import '../../mixin';

@include media-breakpoint-up($grid-breakpoint-sm) {
  #bottomLanguageChanger-button {
    position: absolute;
    right: var(--bs-spacer-md);
    bottom: var(--bs-spacer-lg);
  }
}

.bottomLanguage-tooltip {
  --bs-tooltip-bg: var(--bs-light);
  --bs-tooltip-color: var(--bs-dark);
}