.nameAndEditorVoiceSound-container {
  display: flex;
  justify-content: space-between;
  padding: var(--bs-spacer-xs);
}

.nameAndEditorVoiceSound-nameAndProperties-container {
  display: flex;
  flex-direction: column;

  .properties {
    display: flex;
  }
}
