#limit-table {

  .names-container .horizontal-separator {
    width: 2.5cm;
  }

  .nameWithImage-container .course-theme-image {
    display: initial;
    margin-top: var(--bs-negative-spacer-md);
    margin-left: var(--bs-negative-spacer-md);
    height: 0.5cm;
    width: 0.5cm;
  }

}