@import "../../../variables";
@import "../../../mixin";

$image-size: 3cm;
#parameter-container {

  [id$=-option-container] {
    padding: var(--bs-spacer-md);
  }

  [id^=optionInput-] {
    margin: var(--bs-spacer-sm);
  }

  img {
    max-width: $image-size;
  }

  .option-separator {
    border: 0;
    border-top: var(--bs-border-width-1);
    border-style: dotted;
  }
}

#imagesAndSounds-option-container {
  display: flex;
  flex-wrap: wrap;

  .btn-group {
    margin: var(--bs-spacer-sm);
  }
}

#themes-option-container {

  > [id$=-option-container] {
    padding: var(--bs-spacer-sm);

    > :nth-child(1) {
      border-bottom: 0;
    }

    > :nth-child(2) {
      > [id$=-option-image] {
        border-top: 0;
      }

      > [id$=-day-option-image] {
        border-right: 0;
      }

      > [id$=-night-option-image] {
        border-left: 0;
      }
    }
  }

  > .btn-group-vertical {
    > .btn-secondary {
      //width of both day & night
    }

    > .btn-group img {
      max-width: $image-size * 0.5;
    }
  }
}