.property-with-comment {
  --comment-size: calc(var(--bs-font-size-sm) / 2);
  position: relative;

  &::after {
    //TODO move separate component
    position: absolute;
    top: -2px;
    right: -2px;
    content: '!'; //TODO change to variable exclamation
    color: var(--bs-black);
    background-color: rgba(var(--bs-red-500-rgb), 50%);
    font-size: var(--comment-size);
    font-weight: var(--bs-font-weight-bold);
    text-align: center;
    width: var(--comment-size);
    border-radius: var(--bs-border-circle-radius);
  }
}
