.ttable {
  --table-content-color:            var(--bs-body-color);
  --table-header-border-color:      var(--bs-secondary-border-subtle);
  --table-footer-border-color:      var(--bs-secondary-border-subtle);
  --table-content-border-color:     var(--bs-border-color);
  --table-headers-bg:               transparent;
  --table-content-bg:               transparent;
  --table-content-bg-rgb:           0, 0, 0;
  --table-content-striped-bg:       rgba(var(--table-content-bg-rgb), 0.05);
  --table-content-striped-hover-bg: rgba(var(--table-content-bg-rgb), 0.15);//0.05 + 0.1
  --table-content-hover-bg:         rgba(var(--table-content-bg-rgb), 0.1);
  //border-collapse: collapse;
}

//region -------------------- Display type --------------------

.ttable {    display: table }
.tcaption {  display: table-caption }
.theader {   display: table-header-group }
.tfooter {   display: table-footer-group }
.tcontent {  display: table-row-group }
.trow {      display: table-row }
.tcell {     display: table-cell }

//endregion -------------------- Display type --------------------
//region -------------------- Border --------------------

.table-primary {   --table-content-border-color: var(--bs-primary-border-subtle) }
.table-secondary { --table-content-border-color: var(--bs-secondary-border-subtle) }
.table-success {   --table-content-border-color: var(--bs-success-border-subtle) }
.table-info {      --table-content-border-color: var(--bs-info-border-subtle) }
.table-warning {   --table-content-border-color: var(--bs-warning-border-subtle) }
.table-danger {    --table-content-border-color: var(--bs-danger-border-subtle) }
.table-light {     --table-content-border-color: var(--bs-light-border-subtle) }
.table-dark {      --table-content-border-color: var(--bs-dark-border-subtle) }

.theader > *,
.tfooter > *,
.tcontent > * > *, {
  border-width: var(--bs-border-width);
  border-style: var(--bs-border-style);
}
.theader > * {      border-color: var(--table-header-border-color) }
.tfooter > * {      border-color: var(--table-footer-border-color) }
.tcontent > * > * { border-color: var(--table-content-border-color) }


.theader > :not(:first-child),
.tfooter > :not(:first-child), { border-left-style: none }

.theader > :first-child { border-top-left-radius: var(--bs-border-radius) }
.theader > :last-child {  border-top-right-radius: var(--bs-border-radius) }
.tfooter > :first-child { border-bottom-left-radius: var(--bs-border-radius) }
.tfooter > :last-child {  border-bottom-right-radius: var(--bs-border-radius) }

.tcontent {
  border-top: none;
  border-bottom: none;
}
.tcontent > * > :not(:first-child) { border-left-style: none }
.tcontent > * > * { border-top: none }
.tcontent > :last-child > * { border-bottom: none }

//endregion -------------------- Border --------------------
//region -------------------- Background --------------------

.table-primary {   --table-content-bg: var(--bs-primary-100) }
.table-secondary { --table-content-bg: var(--bs-secondary-100) }
.table-success {   --table-content-bg: var(--bs-success-100) }
.table-info {      --table-content-bg: var(--bs-info-100) }
.table-warning {   --table-content-bg: var(--bs-warning-100) }
.table-danger {    --table-content-bg: var(--bs-danger-100) }
.table-light {     --table-content-bg: var(--bs-light) }
.table-dark {      --table-content-bg: var(--bs-dark) }

.headers-primary {   --table-headers-bg: var(--bs-primary-100) }
.headers-secondary { --table-headers-bg: var(--bs-secondary-100) }
.headers-success {   --table-headers-bg: var(--bs-success-100) }
.headers-info {      --table-headers-bg: var(--bs-info-100) }
.headers-warning {   --table-headers-bg: var(--bs-warning-100) }
.headers-danger {    --table-headers-bg: var(--bs-danger-100) }
.headers-light {     --table-headers-bg: var(--bs-light) }
.headers-dark {      --table-headers-bg: var(--bs-dark) }

.theader {  background-color: var(--table-headers-bg) }
.tfooter {  background-color: var(--table-headers-bg) }
.tcontent { background-color: var(--table-content-bg) }
.tcontent > :hover { background-color: var(--table-content-hover-bg) }
.tcontent > :nth-of-type(odd) {  background-color: var(--table-content-striped-bg) }
.tcontent > :nth-of-type(odd):hover {  background-color: var(--table-content-striped-hover-bg) }

//endregion -------------------- Background --------------------
//region -------------------- Text --------------------

.table-dark {      --table-content-color: var(--bs-light) }


.ttable { color: var(--table-content-color) }

.theader,
.tfooter, { color: var(--bs-body-color) }


.theader,
.tfooter, {
  font-weight: var(--bs-font-weight-bold);
}

//endregion -------------------- Text --------------------
//region -------------------- Placement --------------------

.tcaption {
  margin-top: var(--bs-alert-margin-bottom);
  margin-bottom: unset;
}

.theader > .tcell,
.tfooter > .tcell, {
  padding: var(--bs-spacer-sm) var(--bs-spacer-md)
}

.tcell { padding: var(--bs-spacer-md) }


.tcaption {
  caption-side: bottom;
}


.theader,
.tfooter, {
  text-align: center;
}


.theader > * {
  vertical-align: bottom;
}

.tfooter > * {
  vertical-align: top;
}


//endregion -------------------- Placement --------------------
//region -------------------- Image --------------------

.ttable img { max-height: 1cm }

.theader img,
.tfooter img, { max-height: .75cm }

//endregion -------------------- Image --------------------
