#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;

  //@include gradient-y-three-colors($cyan, cornFlowerBlue, null, $blue);

  main {
    flex: 1 1 auto;
  }
}

//Every table ending with table
table[id$="-table"] {

  thead, tfoot, {
    text-align: center;
  }


  tbody tr > {
    //region -------------------- 1 - # --------------------

    :nth-child(1) {
      width: 1cm;
      text-align: left;

      &:after {
        content: '.';
      }
    }

    //endregion -------------------- 1 - # --------------------
  }

  thead {
    position: sticky;
    top: 0;
    z-index: var(--bs-z-index-sticky);
  }

  th img {
    max-height: .75cm;
  }

  img {
    max-height: 1cm;
  }

}

.listElement-container, .cardListElement-container, {

  .name-container {
    text-align: center;
  }

}

.animated-image, .non-animated-image {
  --amount-of-blocks: 0;
  --single-height: 0;
  --single-width: var(--single-height);
  height: calc(var(--amount-of-blocks) * var(--single-height));
  width: calc(var(--amount-of-blocks) * var(--single-width));
}

.time-image, .theme-image, .gameStyle-image {
  border-radius: var(--bs-border-radius);
}

.mystery-mushroom-image::after {
  content: var(--mystery-mushroom-image);
}
