#characterName-app-container {
  .viewChanger-container {
    //TODO change the view changer default position to not have be absolute
    position: initial;
  }

  .description-container .game-image {
    height: var(--bs-font-size-lg)
  }

}

#characterName-list {
  .listItem {
    min-height: 2.5rem;
    .single-editorVoiceSound-container { margin-left: var(--bs-spacer-sm) }
  }
}

#characterName-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .tcell { &.name {} }
}
