#courseTag-app-container {

  .viewChanger-container {
    //TODO change the view changer default position to not have be absolute
    position: initial;
  }

  .cardListName-content-container { color: rgba(var(--bs-dark-rgb), 50%,) }

}

//region  -------------------- Link buttons --------------------

#allCourseTag-button { border-bottom: {
    left-radius: 0;
    right-radius: 0;
} }

#officialCourseTag-button {}

#unofficialCourseTag-button {}

#makerCentralCourseTag-button { border-top: {
    left-radius: 0;
    right-radius: 0;
} }

//endregion  -------------------- Link buttons --------------------
