@import '../variables';
@import '../mixin';

#courseTag-container {

  .cardListName-content-container {
    color: rgba(var(--bs-dark-rgb), 50%,);
  }

}

//region  -------------------- Link buttons --------------------

#allCourseTag-button {
  border-bottom: {
    left-radius: 0;
    right-radius: 0;
  }
}

#officialCourseTag-button {
}

#unofficialCourseTag-button {
}

#makerCentralCourseTag-button {
  border-top: {
    left-radius: 0;
    right-radius: 0;
  }
}

//endregion  -------------------- Link buttons --------------------

@include media-breakpoint-up($grid-breakpoint-md) {
  #courseTag-container > p {
    margin-top: 1.75cm;
  }
}
