#entity-app-container {
  .viewChanger-container {
    //TODO change the view changer default position to not have be absolute
    position: initial;
  }

  .nameAndEditorVoiceSound-container {
    display: flex;
    justify-content: space-between;
    padding: var(--bs-spacer-xs);
  }

  .nameAndEditorVoiceSound-nameAndProperties-container {
    display: flex;
    flex-direction: column;

    .properties {
      display: flex;
      flex-wrap: wrap;
    }
  }

}

#entity-list {
  .entity-image {
    &:not(:last-child) { margin-right: var(--bs-spacer-sm) }
    height: 2.5rem;
    image-rendering: pixelated;
  }
  .singleEntityImage { margin-left: var(--bs-spacer-sm) }
}

#entity-cardList {

  //.cardList-item > * {
  //  &:has(.entityCategory-Terrain) { background-color: var(--entityCategory-terrain-bg-color) }
  //  &:has(.entityCategory-Item)    { background-color: var(--entityCategory-item-bg-color) }
  //  &:has(.entityCategory-Enemy)   { background-color: var(--entityCategory-ennemy-bg-color) }
  //  &:has(.entityCategory-Gizmo)   { background-color: var(--entityCategory-gizmo-bg-color) }
  //}

  .singleEntityImage {
    display: flex;
    justify-content: center;
    &:has(+ .single-editorVoiceSound-container, + .double-editorVoiceSound-container) { margin-bottom: var(--bs-spacer-sm) }
    .entity-image {
      &:not(:last-child) { margin-right: var(--bs-spacer-sm) }
      height: 2.5rem;
      image-rendering: pixelated;
    }
  }

  .double-editorVoiceSound-container {
    display: flex;
    :first-child {
      margin-bottom: var(--bs-spacer-xs);
      margin-right: var(--bs-spacer-sm);
    }
  }

}

#entity-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .tcell {

    &.smb-images,
    &.smb3-images,
    &.smw-images,
    &.nsmbu-images,
    &.sm3dw-images, { max-width: 2cm }

    &.name { min-width: 5cm }

    &.game { min-width: 2.5cm }

    &.gameStyle { max-width: 4cm }

    &.courseTheme {
      min-width: 4cm;
      max-width: 6cm;
    }

    &.time { min-width: 1.5cm }

    &.category {}

    &.editorLimit,
    &.playLimit, {
      min-width: 5cm;
      max-width: 7.5cm;
    }

  }

  :is(.table-row-bulletBill, .table-row-billBlaster, .table-row-bulleyeBill, .table-row-bulleyeBlaster) img {
    max-width: 2rem;
    max-height: initial;
  }

  //region -------------------- Helper guide for the user to distinguish the group by game style --------------------

  .ground-image, .steepSlope-image, .gentleSlope-image, .bridge-image, {
    &[alt*='Day'] {
      margin: {
        top: var(--bs-spacer-sm);
      }
      border-top: {
        color: rgba(var(--bs-secondary-rgb), 50%,);
        style: dotted;
        width: var(--bs-border-width-1);
      }
    }
  }

  .semisolidPlatform-image, {
    &[alt*='Day #1'] {
      margin: {
        top: var(--bs-spacer-sm);
      }
      border-top: {
        color: rgba(var(--bs-secondary-rgb), 50%,);
        style: dotted;
        width: var(--bs-border-width-1);
      }
    }
  }

  //endregion -------------------- Helper guide for the user to distinguish the group by game style --------------------

  img {

    &.entity-image {
      min-height: .5cm;
    }

    &[alt="Terrain"] { filter: var(--filter-white-to-cyan) }
    &[alt="Item"]    { filter: var(--filter-white-to-pink) }
    &[alt="Enemy"]   { filter: var(--filter-white-to-green) }
    &[alt="Gizmo"]   { filter: var(--filter-white-to-yellow) }

  }

  .bigMushroom-image,
  .mysteryMushroom-image, .weirdMushroom-image,
  .bigMushroomClassic-image, .bigMushroomModern-image, {
    height: 32px;
  }

  .bigMushroom-image {
    margin: var(--bs-spacer-sm);
  }

  .animated-image, .non-animated-image {
    --amount-of-blocks: 2;
    --single-height: 16px;
  }

}
