//TODO find better colors
#entityCategory-terrain-container .cardListElement-container { background-color: var(--entityCategory-terrain-bg-color) }
#entityCategory-item-container    .cardListElement-container { background-color: var(--entityCategory-item-bg-color) }
#entityCategory-enemy-container   .cardListElement-container { background-color: var(--entityCategory-ennemy-bg-color) }
#entityCategory-gizmo-container   .cardListElement-container { background-color: var(--entityCategory-gizmo-bg-color) }

#entityCategory-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  img { max-height: initial }

  .tcell {
    &.name {}
    &.icon {}
  }
}
