//TODO find better colors
#entityCategory-terrain-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--entityCategory-terrain-bg-color);
  }
}

#entityCategory-item-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--entityCategory-item-bg-color);
  }
}

#entityCategory-enemy-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--entityCategory-ennemy-bg-color);
  }
}

#entityCategory-gizmo-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--entityCategory-gizmo-bg-color);
  }
}

#entityCategory-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .tcell {
    &.icon img {
      &[alt="Terrain"] { filter: var(--filter-white-to-cyan) }
      &[alt="Item"]    { filter: var(--filter-white-to-pink) }
      &[alt="Enemy"]   { filter: var(--filter-white-to-green) }
      &[alt="Gizmo"]   { filter: var(--filter-white-to-yellow) }
    }

    &.name {}
  }
}
