.cardListName-content-container, .simpleListName-content-container {
  &.entityCategory-Terrain {
    background-color: var(--entityCategory-terrain-bg-color);
  }

  &.entityCategory-Item {
    background-color: var(--entityCategory-item-bg-color);
  }

  &.entityCategory-Enemy {
    background-color: var(--entityCategory-ennemy-bg-color);
  }

  &.entityCategory-Gizmo {
    background-color: var(--entityCategory-gizmo-bg-color);
  }
}

#entity-table {

  tbody {
    //td {
    //  min-height: 2cm;
    //}

    tr > {
      $index: 0;
      //region -------------------- image - SMB --------------------
      $index: $index + 1;

      :nth-child(#{$index}) {
        max-width: 2cm;
      }

      //endregion -------------------- image - SMB --------------------
      //region -------------------- image - SMB3 --------------------
      $index: $index + 1;

      :nth-child(#{$index}) {
        max-width: 2cm;
      }

      //endregion -------------------- image - SMB3 --------------------
      //region -------------------- image - SMW --------------------
      $index: $index + 1;

      :nth-child(#{$index}) {
        max-width: 2cm;
      }

      //endregion -------------------- image - SMW --------------------
      //region -------------------- image - NSMBU --------------------
      $index: $index + 1;

      :nth-child(#{$index}) {
        max-width: 2cm;
      }

      //endregion -------------------- image - NSMBU --------------------
      //region -------------------- image - SM3DW --------------------
      $index: $index + 1;

      :nth-child(#{$index}) {
        max-width: 2cm;
      }

      //endregion -------------------- image - SM3DW --------------------
      //region -------------------- name --------------------
      $index: $index + 1;

      :nth-child(#{$index}) {
        min-width: 5cm;
      }

      //endregion -------------------- name --------------------
      ////region -------------------- game --------------------
      //$index: $index + 1;
      //
      //:nth-child(#{$index}) {
      //  min-width: 2.5cm;
      //}
      //
      ////endregion -------------------- game --------------------
      ////region -------------------- game style --------------------
      //$index: $index + 1;
      //
      //:nth-child(#{$index}) {
      //  max-width: 4cm;
      //}
      //
      ////endregion -------------------- game style --------------------
      ////region -------------------- course theme --------------------
      //$index: $index + 1;
      //
      //:nth-child(#{$index}) {
      //  min-width: 4cm;
      //  max-width: 6cm;
      //}
      //
      ////endregion -------------------- course theme --------------------
      ////region -------------------- time --------------------
      //$index: $index + 1;
      //
      //:nth-child(#{$index}) {
      //  min-width: 1.5cm;
      //}
      //
      ////endregion -------------------- time --------------------
      //region -------------------- entity category --------------------
      $index: $index + 1;

      :nth-child(#{$index}) {
        min-width: 3cm;
      }

      //endregion -------------------- entity category --------------------
      //region -------------------- limit (editor) --------------------
      $index: $index + 1;

      :nth-child(#{$index}) {
        min-width: 5cm;
        max-width: 7.5cm;
      }

      //endregion -------------------- limit (editor) --------------------

    }

  }

  //region -------------------- Helper guide for the user to distinguish the group by game style --------------------

  .ground-image, .steepSlope-image, .gentleSlope-image, .bridge-image, {
    &[alt*='Day'] {
      margin: {
        top: var(--bs-spacer-sm);
      }
      border-top: {
        color: rgba(var(--bs-secondary-rgb), 50%,);
        style: dotted;
        width: var(--bs-border-width-1);
      }
    }
  }

  .semisolidPlatform-image, {
    &[alt*='Day #1'] {
      margin: {
        top: var(--bs-spacer-sm);
      }
      border-top: {
        color: rgba(var(--bs-secondary-rgb), 50%,);
        style: dotted;
        width: var(--bs-border-width-1);
      }
    }
  }

  //endregion -------------------- Helper guide for the user to distinguish the group by game style --------------------

  img {

    &[alt="Terrain"] {
      filter: var(--filter-white-to-cyan);
    }

    &[alt="Item"] {
      filter: var(--filter-white-to-pink);
    }

    &[alt="Enemy"] {
      filter: var(--filter-white-to-green);
    }

    &[alt="Gizmo"] {
      filter: var(--filter-white-to-yellow);
    }

  }

  .bigMushroom-image,
  .mysteryMushroom-image, .weirdMushroom-image,
  .bigMushroomClassic-image, .bigMushroomModern-image, {
    height: 32px;
  }

  .bigMushroom-image {
    margin: var(--bs-spacer-sm);
  }

  .animated-image, .non-animated-image {
    --amount-of-blocks: 2;
    --single-height: 16px;
  }

}
