@import '../variables';
@import '../mixin';

.cardListElement-container {
  .card-body {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-up($grid-breakpoint-sm) {
      flex-direction: column;
    }
    align-items: center;
  }

  img {
    max-height: 2cm;
    width: fit-content;
  }
}
