.cardListElement-container div {
  text-align: center;
}

.card-body span {
  &::before {
    color: var(--bs-body-color);
  }

  &:last-child::before {
    content: ' / '; //TODO replace to text-space-backSlash-space
  }

  &:first-child::before {
    content: none;
  }
}
