#gameStyle-app-container {
  .viewChanger-container {
    //TODO change the view changer default position to not have be absolute
    position: initial;
  }

  .description-container .game-image,
  .description-container .gameStyle-image, { height: var(--bs-font-size-lg) }

}

#gameStyle-list img { max-height: 3rem }

.cardListElement-container img { max-height: 5rem }

#gameStyle-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .night-desert-wind-effect-container {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;


    .time-image {
      position: absolute;
      top: 2px;
      right: 2px;
      background-color: rgba(var(--bs-dark-300-rgb), 50%,);
      width: .5cm;
      border-radius: var(--bs-border-circle-radius);
    }
  }

}
