#instrument-app-container {
  .viewChanger-container {
    //TODO change the view changer default position to not have be absolute
    position: initial;
  }

  .description-container .game-image { height: var(--bs-font-size-lg) }

}

#instrument-hihat-container, .table-row-hihat { img { rotate: 90deg } } //To rotate the Trampoline side-way

#instrument-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .tcell {
    &.name {}
    &.reference-smb {}
    &.reference-smb3 {}
    &.reference-smw {}
    &.reference-nsmbu {}
    &.sound {}
  }
}
