#limit-app-container {
  .viewChanger-container {
    //TODO change the view changer default position to not have be absolute
    position: initial;
  }

  .description-container .game-image { height: var(--bs-font-size-lg) }

  .course-theme-image {
    background-image: none;
    padding: 0;
  }

  .cardListElement-container {
    position: relative;

    .course-theme-image {
      height: 2cm;
      width: 2cm;
      opacity: 20%;
    }
  }
}

.card-body {
  span {
    &::before {
      color: var(--bs-body-color);
    }

    &:first-child::before {
      content: none;
    }
  }
}

#limit-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
