@import '../functions';
@import '../variables';
@import '../mixin';

.card-body {
  span {
    &::before {
      color: var(--bs-body-color);
    }

    &:first-child::before {
      content: none;
    }
  }
}

#limit-app-container {
  .course-theme-image {
    background-image: none;
    padding: 0;
  }

  .cardListElement-container {
    position: relative;

    .course-theme-image {
      height: 2cm;
      width: 2cm;
      opacity: 20%;
    }
  }
}

//region  -------------------- Link buttons --------------------

#limit-linkButton-playAndEditor-container {
  margin-left: 0;
}

#allLimit-button {
  border: {
    top-right-radius: vaR(--bs-btn-border-radius);
    bottom: {
      left-radius: 0;
      right-radius: 0;
    }
  };
}

#playLimit-button {
  border-bottom-left-radius: var(--bs-btn-border-radius);
}

#editorLimit-button {
  border-bottom-right-radius: var(--bs-btn-border-radius);
}

//endregion  -------------------- Link buttons --------------------

@include media-breakpoint-up($grid-breakpoint-md) {
  #limit-container > p {
    margin-top: 1.25cm;
  }
}
