#miiCostume-list .miiCostume-image { max-height: 4rem }

.cardListElement-container .miiCostume-image { max-height: 6rem }

.question-block-image {
  translate: 0 var(--bs-spacer-md);
  --image-width: 24px;
}


#miiCostume-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .tcell {
    &.image {}
    &.name {}
    &.officialNotification {}
    &.category {}
    &.categoryAsText {}
  }

}
