#music-app-container {
  img { object-fit: contain }

  .musics-container                                                     { img, > :is(div > img), > img, { height: 4.5rem } }
  .musics-container :where(.musics-container)                           { img, > :is(div > img), > img, { height: 3rem } }
  .musics-container :where(.musics-container) :where(.musics-container) { img, > :is(div > img), > img, { height: 1.75rem } }

  .musics-container.small-images                                        { img, > :is(div > img), > img, { height: 1.75rem } }

  .musics-container {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: rgba(var(--bs-primary-rgb), 5%);
    border: {
      width: var(--bs-border-width);
      radius: var(--bs-border-radius);
      style: var(--bs-border-style);
      color: var(--bs-primary-border-subtle);
    }
    padding: var(--bs-spacer-md);
    margin: {
      bottom: var(--bs-spacer-sm);
      left: var(--bs-spacer-sm);
      right: var(--bs-spacer-sm);
    }
    &.no-style {
      border: 0;
      background-color: transparent;
      padding: 0;
      margin: 0;
    }
  }

  .finalBossMusic-musics-container .gameStyle-image { max-width: 2rem }

  :is(.grid-2, .grid-3) {
    --grid-width: 2.5rem;
    height: fit-content;
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .grid-2 {
    grid-template-columns: var(--grid-width) auto;

    > :nth-child(2n):not(:nth-child(2)) { margin-top: var(--bs-spacer-sm) }
  }

  .grid-3 {
    grid-template-columns: var(--grid-width) auto auto;

    > :nth-child(3n - 1):not(:nth-child(2)):not(:nth-child(5)),
    > :nth-child(3n):not(:nth-child(3)):not(:nth-child(6)) { margin-top: var(--bs-spacer-sm) }

    > :nth-child(3n - 1) { margin-right: var(--bs-spacer-sm) }
  }

  .pSwitchMusicAndSuperStarMusicAndBonusMusicAndBossMusicAndFinalBossMusic-musics-container { --grid-width: 4rem }

  .viewable-trace-image-as-ground { scale: 75% }

}

#link-musics-container       > .musics-container { --grid-width: 5rem }
#smb2-musics-container       > .musics-container { --grid-width: 5rem }
#otherGames-musics-container > .musics-container { --grid-width: 3rem }
#bonus-musics-container      > .musics-container { --grid-width: 4rem }
#boss-musics-container       > .musics-container { --grid-width: 4rem }
#finalBoss-musics-container  > .musics-container { --grid-width: 5rem }

#world-musics-container .theme-image {
  height: .9cm;
  margin-right: var(--bs-spacer-sm);
  &:not(:nth-last-child(3)) { margin-bottom: var(--bs-spacer-sm) }
}
