#officialCourse-list {

  .themeAndGameStyle-container { width: 3rem * 4 }

  :where(.theme-image, .gameStyle-image) { height: 3rem }

}

#officialCourse-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .tcell {

    &.reward { max-width: 3cm }
    &.name { max-width: 5cm }
    &.description { max-width: 20cm }
    &.gameStyleAndAreas { max-width: 3cm }
    &.time { max-width: 3cm }
    &.availability {}
  }
}
