#predefinedMessage-app-container {}

#predefinedMessage-list {}

#predefinedMessage-cardList {}

#predefinedMessage-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .tcell {
    &.icon {}
    &.name {}
  }

}
