#sampleCourse-app-container {}

#sampleCourse-list {}

#sampleCourse-cardList {}

#sampleCourse-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .tcell {
    &.levelNumber { max-width: 9rem }
    &.name {}
    &.gameStyleAndAreas { max-width: 6rem }
    &.time { max-width: 6rem }
  }
}
