#soundEffect-table {

  tbody {
    //td {
    //  min-height: 2cm;
    //}

    tr > {
      //region -------------------- 1 & 2 - SMM1 & SMM2 --------------------

      :nth-child(1), :nth-child(2) {
        width: 1.5cm;
        text-align: center;
      }

      //endregion -------------------- 1 & 2 - SMM1 & SMM2 --------------------
      //region -------------------- 3 - name --------------------
      //endregion -------------------- 3 - name --------------------
      //region -------------------- 4 - category --------------------
      //endregion -------------------- 4 - category --------------------
      //region -------------------- 5 - player behaviour --------------------
      //endregion -------------------- 5 - player behaviour
      //region -------------------- 6 - sounds --------------------

      :nth-child(6) {
        min-width: calc(1cm + var(--bs-spacer-sm) * 2);
        width: 8.5cm;
      }

      //endregion -------------------- 6 - sounds --------------------

    }

  }

  img {

    &[alt="Feelings"] {
      filter: var(--filter-white-to-yellow);
    }

    &[alt="Stingers"] {
      filter: var(--filter-white-to-orange);
    }

    &[alt="Reactions"] {
      filter: var(--filter-white-to-green);
    }

    &[alt="Animations"] {
      filter: var(--filter-white-to-pink);
    }

    &[alt="Music"] {
      filter: var(--filter-white-to-cyan);
    }

  }

}

.soundEffect-container {

  img {
    height: 1cm;
  }

}

.playerSoundEffectTrigger-container {
  i {

    transform: translateY(var(--bs-spacer-sm));
    --image-width: .5cm;

    &.big-mushroom-image, &.big-mushroom-classic-image, &.clown-car-image, {
      --image-width: .75cm;
    }

    &.mystery-mushroom-image::after {
      content: initial;
    }

    &.smm2-only::after {
      content: '';
      display: inline-block;
      background: {
        image: var(--smm2-image);
        repeat: no-repeat;
      };
      width: .75cm;
      height: .5cm;
      transform: translateY(var(--bs-negative-spacer-md));
    }
  }
}

//region -------------------- Sound effect sounds --------------------

.soundEffect-sounds-container hr {
  color: var(--bs-gray);
}

.soundEffect-sounds-smm1-container, .soundEffect-sounds-smm2-container, {
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
  }

}

.soundEffect-sound-container {
  padding: {
    left: var(--bs-spacer-sm);
    right: var(--bs-spacer-sm);
    bottom: var(--bs-spacer-sm);
  }
}

//endregion -------------------- Sound effect sounds --------------------
