//TODO find better colors
#soundEffectCategory-feelings-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--soundEffectCategory-feelings-bg-color);
  }
}
#soundEffectCategory-stingers-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--soundEffectCategory-stingers-bg-color);
  }
}
#soundEffectCategory-reactions-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--soundEffectCategory-reactions-bg-color);
  }
}
#soundEffectCategory-animations-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--soundEffectCategory-animations-bg-color);
  }
}
#soundEffectCategory-music-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--soundEffectCategory-music-bg-color);
  }
}

#soundEffectCategory-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .tcell {
    &.icon img {
      &[alt="Feelings"]   { filter: var(--filter-white-to-yellow) }
      &[alt="Stingers"]   { filter: var(--filter-white-to-orange) }
      &[alt="Reactions"]  { filter: var(--filter-white-to-green) }
      &[alt="Animations"] { filter: var(--filter-white-to-pink) }
      &[alt="Music"]      { filter: var(--filter-white-to-cyan) }
    }

    &.name {}
  }

}
