#soundEffect-app-container {
  .viewChanger-container {
    //TODO change the view changer default position to not have be absolute
    position: initial;
  }
}

#soundEffect-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .tcell {

    &.smm1And3ds-icon,
    &.smm2-icon, {
      width: 1.5cm;
      text-align: center;
    }

    &.name {}

    &.category {}

    &.playerBehaviour {}

    &.sounds {
      min-width: calc(1cm + var(--bs-spacer-sm) * 2);
      width: 8.5cm;
    }

  }

  img {

    &[alt="Feelings"]   { filter: var(--filter-white-to-yellow) }
    &[alt="Stingers"]   { filter: var(--filter-white-to-orange) }
    &[alt="Reactions"]  { filter: var(--filter-white-to-green) }
    &[alt="Animations"] { filter: var(--filter-white-to-pink) }
    &[alt="Music"]      { filter: var(--filter-white-to-cyan) }

  }

}

.playerSoundEffectTrigger-container {
  em {

    transform: translateY(var(--bs-spacer-sm));
    --image-width: .5cm;

    &.big-mushroom-image,
    &.big-mushroom-classic-image,
    &.clown-car-image,
    &.swinging-claw-image, {
      --image-width: .75cm;
    }

    &.stiletto-image {
      --image-height: calc(var(--image-width) * 2);
    }

    &.mystery-mushroom-image::after {
      content: initial;
    }

    &.smm2-only::after {
      content: '';
      display: inline-block;
      background: {
        image: var(--smm2-image);
        repeat: no-repeat;
      };
      width: .75cm;
      height: .5cm;
      transform: translateY(var(--bs-negative-spacer-md));
    }
  }
}

//region -------------------- Sound effect sounds --------------------

.soundEffect-sounds-container hr {
  color: var(--bs-gray);
}

.soundEffect-sounds-smm1-container, .soundEffect-sounds-smm2-container, {
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
  }

}

.soundEffect-sound-container {
  padding: {
    left: var(--bs-spacer-sm);
    right: var(--bs-spacer-sm);
    bottom: var(--bs-spacer-sm);
  }
}

//endregion -------------------- Sound effect sounds --------------------
