//TODO find better colors
#soundEffectCategory-feelings-cardList-item   > * { background-color: var(--soundEffectCategory-feelings-bg-color) }
#soundEffectCategory-stingers-cardList-item   > * { background-color: var(--soundEffectCategory-stingers-bg-color) }
#soundEffectCategory-reactions-cardList-item  > * { background-color: var(--soundEffectCategory-reactions-bg-color) }
#soundEffectCategory-animations-cardList-item > * { background-color: var(--soundEffectCategory-animations-bg-color) }
#soundEffectCategory-music-cardList-item      > * { background-color: var(--soundEffectCategory-music-bg-color) }

#soundEffectCategory-list {}

#soundEffectCategory-cardList {}

#soundEffectCategory-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .tcell {
    &.name {}
    &.icon {}
  }

}
