//TODO find better colors
#soundEffectCategory-feelings-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--soundEffectCategory-feelings-bg-color);
  }
}
#soundEffectCategory-stingers-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--soundEffectCategory-stingers-bg-color);
  }
}
#soundEffectCategory-reactions-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--soundEffectCategory-reactions-bg-color);
  }
}
#soundEffectCategory-animations-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--soundEffectCategory-animations-bg-color);
  }
}
#soundEffectCategory-music-container {
  .simpleListElement-container, .cardListElement-container, {
    background-color: var(--soundEffectCategory-music-bg-color);
  }
}
