@import '../functions';
@import '../variables';
@import '../mixin';

#theme-app-container {

  .theme-button-image {
    max-height: .75cm;
  }

  .viewChanger-container {
    //TODO change the view changer default position to not have be absolute
    position: initial;
  }

}

#theme-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .gameContentImages-container img {
    max-height: .4cm;
  }

  .nameWithContent-container {
    display: flex;
    align-items: center;
  }

  .themeContentImages-container {
    display: flex;
    flex-direction: column;

    img {
      max-height: .5cm;
    }
  }

  .name-container {
    text-align: center;
  }

  .nightDesert-header-image-container {
    width: fit-content;

    .night-image {
      position: absolute;
      top: 0;
      right: 0;
      max-height: calc(.75cm / 1.5);
      background-color: rgba(var(--bs-dark-300-rgb), .5,);
    }

  }

}

.images-container, .gameContentImages-container, .themeContentImages-container {
  img {
    width: fit-content;
  }
}

.cardListElement-container {

  .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .images-container, {
      display: flex;
      flex-direction: row;
      width: 5cm;
      @include media-breakpoint-up($grid-breakpoint-sm) {
        flex-direction: column;
        width: auto;
      }
      justify-content: center;
      align-items: center;
    }

    .gameContentImages-container, .themeContentImages-container, {
      display: flex;
      flex-direction: column;
    }

  }


  .images-container img {
    max-height: 2cm;
    @include media-breakpoint-between($grid-breakpoint-lg, $grid-breakpoint-xl) {
      max-height: 1.5cm;
    }
  }

  .gameContentImages-container img {
    min-height: .5cm;
    max-height: 1cm;
  }

  .themeContentImages-container img {
    min-height: .5cm;
    max-height: 1cm;
  }

}

//region  -------------------- Link buttons --------------------

#theme-linkButton-courseAndWorld-container {
  margin-left: 0;
}

#allTheme-button {
  border: {
    top-right-radius: var(--bs-btn-border-radius);
    bottom: {
      left-radius: 0;
      right-radius: 0;
    }
  };
}

#courseTheme-button {
  border-bottom-left-radius: var(--bs-btn-border-radius);
}

#worldTheme-button {
  border-bottom-right-radius: var(--bs-btn-border-radius);
}

//endregion  -------------------- Link buttons --------------------
