@import "GameAsideContent";

@import '../functions';
@import '../variables';
@import '../mixin';

#theme-app-container .theme-button-image { max-height: 1.5rem }

#theme-list {
  .images-container { min-width: 3rem * 3 + 2rem }
  .theme-image { max-height: 3rem }
  .themeTypesImages-container img { max-width: 2rem }
  .endlessMario-image { max-width: 3rem }
}

#courseTheme-cardList {}
#worldTheme-cardList {}
#theme-cardList {}
:is(#courseTheme-cardList, #worldTheme-cardList, #theme-cardList) {

  .game-image {
    min-height: 2rem;
    max-width: 2rem;
  }

  .theme-image {
    max-height: 5rem;
    max-width: 5rem;
  }

  .endlessMario-image {
    max-height: 4rem;
  }

  .themeType-image {
    max-height: 2rem;
  }

}

#theme-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;

  .gameContentImages-container img {
    max-height: .4cm;
  }

  .nameWithContent-container {
    display: flex;
    align-items: center;
  }

  .themeTypesImages-container img { max-height: .5cm }

  .name-container {
    text-align: center;
  }

  .nightDesert-header-image-container {
    width: fit-content;

    .night-image {
      position: absolute;
      top: 0;
      right: 0;
      max-height: calc(.75cm / 1.5);
      background-color: rgba(var(--bs-dark-300-rgb), .5,);
      border-radius: var(--bs-border-circle-radius);
    }

  }

}
