.not-applicable, {
  color: var(--bs-gray-500);
}

.is-unknown, .unknown-reference {
  color: var(--bs-red);
}

.not-applicable:after {
  content: var(--not-applicable);
}

.is-unknown:after {
  content: var(--is-unknown);
}

.unknown-reference:after {
  content: var(--unknown-reference);
  font-style: italic;
}

//region -------------------- Text related constants --------------------

:root {
  --not-applicable: 'N/A';
  --is-unknown: '?';
  --unknown-reference: '???';

  --text-space-rightArrow-space: ' → ';
}

:is([lang='ja'], [lang^='zh'], [lang='ko']):root {
  --not-applicable: 'Ｎ／Ａ';
  --is-unknown: '？';
  --unknown-reference: '？？？';
}

:is([lang='ja'], [lang^='zh']):root {
  --text-space-rightArrow-space: '→';
}

:is([lang='ko']):root {
  --text-space-rightArrow-space: ' → ';
}

//endregion -------------------- Text related constants --------------------
