.not-applicable, .is-unknown, .unknown-reference {
  color: var(--bs-red);
}

.not-applicable:after {
  content: var(--not-applicable);
}

.is-unknown:after {
  content: var(--is-unknown);
}

.unknown-reference:after {
  content: var(--unknown-reference);
}


:root {
  --not-applicable: 'N/A';
  --is-unknown: '?';
  --unknown-reference: '???';
}