.groupOf2-powerUp-priority {

  --group-size: var(--group-size-on-2);

  &.vertical-group {
    min-width: var(--image-height);
    min-height: var(--group-size);
  }

  &.horizontal-group {
    min-width: var(--group-size);
    min-height: var(--image-height);
  }

}
