@use "sass:math";

.groupOf4-powerUp-priority {

  --group-size: var(--group-size-on-4);
  --group-height: var(--group-size);
  --group-top-height: var(--image-height);
  --group-bottom-height: var(--image-height);
  --group-start-width: var(--image-height);
  --group-end-width: var(--image-height);

  min-width: var(--group-size);
  min-height: var(--group-size);

  .center-arrow-group-container {

    .internal-arrow-container {
      > .arrow-container,
      > .arrows-container > .arrow-container, {
        --line-size: calc(var(--group-height) - (var(--group-top-height) + var(--group-bottom-height)) * cos(45deg) - 2 * var(--arrow-size))
      }
    }

    > :first-child {
      margin-left: calc(var(--group-start-width) / 2);
    }

    > :nth-child(2) {
      left: var(--group-start-width);
    }

    > :nth-child(3) {
      right: var(--group-end-width);
    }

    > :last-child {
      margin-right: calc(var(--group-end-width) / 2);
    }
  }

}
