@use "sass:math";

.groupOf3-powerUp-priority {

  --group-size: var(--group-size-on-3);
  --group-line-size: var(--group-line-size-on-3);

  min-width: var(--group-size);
  min-height: var(--group-size);

  > .diagonal-arrow-group-container {
    > .diagonal-arrow-container > * {
      --line-size: var(--group-line-size);
    }

    > .diagonal-arrow-container {
      top: calc(var(--group-size) / -4);
    }

    > :first-child {
      left: 50%
    }

    > :last-child {
      left: 50%
    }
  }

}
