@use "sass:math";

.groupOf5-powerUp-priority {

  --group-spacer: var(--group-spacer-on-5);
  --group-size: var(--group-size-on-5);

  min-width: var(--group-size);
  min-height: var(--group-size);
  padding-left: var(--group-spacer);
  padding-right: var(--group-spacer);

  .top-center-top-arrow-group-container {

    .external-arrow-container > * {
      --line-height: calc(var(--group-size) - 4 * var(--image-height) + 2 * var(--arrow-size));
      --line-size: calc(var(--line-height) * #{math.cos(45deg)}); //calc(var(--line-height) / cos(var(--calculated-angle)));
    }

    .internal-arrow-container > * {
      --line-height: calc(var(--group-size) - 2 * var(--image-height) - var(--arrow-size));
      --line-size: calc(var(--line-height) * #{math.cos(15deg)}); //calc(var(--line-height) / cos(var(--calculated-angle)));
    }

    .diagonal-arrow-container {
      top: calc((var(--image-height)) * -1);
      margin-top: calc(7px * 1.5); //var(--arrow-size) * 1.5
    }

    & > :first-child {
      left: calc(50% - var(--image-height) / 2);
    }

    & > :nth-child(2) {
      left: calc(50%);
    }

    & > :nth-child(3) {
      right: calc(50%);
    }

    & > :last-child {
      right: calc(50% - var(--image-height) / 2);
    }

  }

  .middle-container {
    margin-left: calc(var(--group-spacer) * -1);
    margin-right: calc(var(--group-spacer) * -1);
  }

  .bottom-arrow-group-container {

    .external-arrow-container > * {
      --line-height: calc((var(--group-size) - 3 * var(--image-height) + 2 * var(--arrow-size)) / 2);
      --line-size: calc(var(--line-height) * #{math.cos(35deg)}); //calc(var(--line-height) / cos(var(--calculated-angle)));
    }

    .internal-arrow-container > * {
      --line-height: calc(var(--group-size) - 2 * var(--image-height) + 4 * var(--arrow-size));
      --line-size: calc(var(--line-height) * #{math.cos(60deg)}); //calc(var(--line-height) / cos(var(--calculated-angle)));
    }

    .diagonal-arrow-container {
      margin-top: calc((var(--image-height)) * -.75);
    }

    & > :first-child {
      left: calc(var(--image-height) * -1);
    }

    & > :nth-child(2) {
      left: calc(var(--image-height) / 2 * -1);
    }

    & > :nth-child(3) {
      right: calc(var(--image-height) / 2 * -1);
    }

    & > :last-child {
      right: calc(var(--image-height) * -1);
    }

  }

}
