@import 'variables';
@import '~bootstrap/scss/bootstrap';

:root {

  --bs-spacer-xs: #{map-get($spacers-original, 0)};
  --bs-spacer-sm: #{map-get($spacers-original, 1)};
  --bs-spacer-md: #{map-get($spacers-original, 2)};
  --bs-spacer-lg: #{map-get($spacers-original, 3)};
  --bs-spacer-xl: #{map-get($spacers-original, 4)};
  --bs-spacer-xxl: #{map-get($spacers-original, 5)};

  --bs-code-font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

}
