//region -------------------- Variables to customize Bootstrap --------------------

//$enable-shadows: true;
$enable-gradients: true;
$enable-negative-margins: true;
$enable-important-utilities: false;

$body-bg: #f8f9fa;//$gray-100

//endregion -------------------- Variables to customize Bootstrap --------------------

@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/variables-dark';

//region -------------------- Custom variables --------------------

$grid-breakpoint-xs: #{map-get($grid-breakpoints, xs,)};
$grid-breakpoint-sm: #{map-get($grid-breakpoints, sm,)};
$grid-breakpoint-md: #{map-get($grid-breakpoints, md,)};
$grid-breakpoint-lg: #{map-get($grid-breakpoints, lg,)};
$grid-breakpoint-xl: #{map-get($grid-breakpoints, xl,)};
$grid-breakpoint-xxl: #{map-get($grid-breakpoints, xxl,)};

$border-width-1: #{map-get($border-widths, 1,)};
$border-width-2: #{map-get($border-widths, 2,)};
$border-width-3: #{map-get($border-widths, 3,)};
$border-width-4: #{map-get($border-widths, 4,)};
$border-width-5: #{map-get($border-widths, 5,)};

//endregion -------------------- Custom variables --------------------

//region -------------------- Override variables --------------------

//region -------------------- Spacer variables --------------------

$spacers-original: $spacers;
$spacers: (
  0: var(--bs-spacer-xs),
  1: var(--bs-spacer-sm),
  2: var(--bs-spacer-md),
  3: var(--bs-spacer-lg),
  4: var(--bs-spacer-xl),
  5: var(--bs-spacer-xxl),
);
$negative-spacers: (
  0: var(--bs-negative-spacer-xs),
  n1: var(--bs-negative-spacer-sm),
  n2: var(--bs-negative-spacer-md),
  n3: var(--bs-negative-spacer-lg),
  n4: var(--bs-negative-spacer-xl),
  n5: var(--bs-negative-spacer-xxl),
);
$gutters: (
  0: var(--bs-gutter-0),
  1: var(--bs-gutter-1),
  2: var(--bs-gutter-2),
  3: var(--bs-gutter-3),
  4: var(--bs-gutter-4),
  5: var(--bs-gutter-5),
);

//endregion -------------------- Spacer variables --------------------
//region -------------------- Border variables --------------------

$border-widths-original: $border-widths;
$border-widths: (
  1: var(--bs-border-width-1),
  2: var(--bs-border-width-2),
  3: var(--bs-border-width-3),
  4: var(--bs-border-width-4),
  5: var(--bs-border-width-5),
);
$border-radius-original: $border-radius;
$border-radius: var(--bs-border-radius);
$border-radius-sm-original: $border-radius-sm;
$border-radius-sm: var(--bs-border-sm-radius);
$border-radius-lg-original: $border-radius-lg;
$border-radius-lg: var(--bs-border-lg-radius);
$border-radius-xl-original: $border-radius-xl;
$border-radius-xl: var(--bs-border-xl-radius);
$border-radius-xxl-original: $border-radius-2xl;
$border-radius-2xl: var(--bs-border-xxl-radius);
$border-radius-pill-original: $border-radius-pill;
$border-radius-pill: var(--bs-border-pill-radius);
$border-radius-circle-original: 50%;
$border-radius-circle: var(--bs-border-circle-radius);

//endregion -------------------- Border variables --------------------
//region -------------------- Z-index variables --------------------

$z-index-dropdown-original: $zindex-dropdown;
$zindex-dropdown: var(--bs-z-index-dropdown);
$z-index-sticky-original: $zindex-sticky;
$zindex-sticky: var(--bs-z-index-sticky);
$z-index-fixed-original: $zindex-fixed;
$zindex-fixed: var(--bs-z-index-fixed);
$z-index-offcanvas-backdrop-original: $zindex-offcanvas-backdrop;
$zindex-offcanvas-backdrop: var(--bs-z-index-offcanvas-backdrop);
$z-index-offcanvas-original: $zindex-offcanvas;
$zindex-offcanvas: var(--bs-z-index-offcanvas);
$z-index-modal-backdrop-original: $zindex-modal-backdrop;
$zindex-modal-backdrop: var(--bs-z-index-modal-backdrop);
$z-index-modal-original: $zindex-modal;
$zindex-modal: var(--bs-z-index-modal);
$z-index-popover-original: $zindex-popover;
$zindex-popover: var(--bs-z-index-popover);
$z-index-tooltip-original: $zindex-tooltip;
$zindex-tooltip: var(--bs-z-index-tooltip);
$z-index-toast-original: $zindex-toast;
$zindex-toast: var(--bs-z-index-toast);

//endregion -------------------- Z-index variables --------------------
//region -------------------- Font-size variables --------------------

$font-size-base-original: $font-size-base;
$font-size-base: var(--bs-font-size-base);

$font-size-sm-original: $font-size-sm;
$font-size-sm: var(--bs-font-size-sm);
$font-size-lg-original: $font-size-lg;
$font-size-lg: var(--bs-font-size-lg);

//$h1-font-size-original: $h1-font-size;
//$h1-font-size: calc(var(--bs-h1-font-size) + 1.5vw);    // calc(1.375rem + 1.5vw)   @media(min-width: 1200px): 2.5rem
//$h2-font-size-original: $h2-font-size;
//$h2-font-size: calc(var(--bs-h2-font-size) + 0.9vw);    // calc(1.325rem + 0.9vw)   @media(min-width: 1200px): 2rem
//$h3-font-size-original: $h3-font-size;
//$h3-font-size: calc(var(--bs-h3-font-size) + 0.6vw);    // calc(1.3rem + 0.6vw)     @media(min-width: 1200px): 1.75rem
//$h4-font-size-original: $h4-font-size;
//$h4-font-size: calc(var(--bs-h4-font-size) + 0.3vw);    // calc(1.275rem + 0.3vw)   @media(min-width: 1200px): 1.5rem
//$h5-font-size-original: $h5-font-size;
//$h5-font-size: var(--bs-h5-font-size);                  // 1.25rem
//$h6-font-size-original: $h6-font-size;
//$h6-font-size: var(--bs-h6-font-size);                  // 1rem

$small-font-size-original: $small-font-size;
$small-font-size: var(--bs-small-font-size);
$sub-sup-font-size-original: $sub-sup-font-size;
$sub-sup-font-size: var(--bs-sub-sup-font-size);

//endregion -------------------- Font-size variables --------------------
//region -------------------- Font-weight variables --------------------

$font-weight-lighter-original: $font-weight-lighter;
$font-weight-lighter: var(--bs-font-weight-lighter);
$font-weight-light-original: $font-weight-light;
$font-weight-light: var(--bs-font-weight-light);
$font-weight-normal-original: $font-weight-normal;
$font-weight-normal: var(--bs-font-weight-normal);
$font-weight-bold-original: $font-weight-bold;
$font-weight-bold: var(--bs-font-weight-bold);
$font-weight-bolder-original: $font-weight-bolder;
$font-weight-bolder: var(--bs-font-weight-bolder);

//endregion -------------------- Font-weight variables --------------------
//region -------------------- Colors variables --------------------

//TODO add dark colors

$blue-050:  tint-color($blue, 90%);
$blue-150:  tint-color($blue, 70%);
$blue-250:  tint-color($blue, 50%);
$blue-350:  tint-color($blue, 30%);
$blue-450:  tint-color($blue, 10%);
$blue-550: shade-color($blue, 10%);
$blue-650: shade-color($blue, 30%);
$blue-750: shade-color($blue, 50%);
$blue-850: shade-color($blue, 70%);
$blue-950: shade-color($blue, 90%);

$indigo-050:  tint-color($indigo, 90%);
$indigo-150:  tint-color($indigo, 70%);
$indigo-250:  tint-color($indigo, 50%);
$indigo-350:  tint-color($indigo, 30%);
$indigo-450:  tint-color($indigo, 10%);
$indigo-550: shade-color($indigo, 10%);
$indigo-650: shade-color($indigo, 30%);
$indigo-750: shade-color($indigo, 50%);
$indigo-850: shade-color($indigo, 70%);
$indigo-950: shade-color($indigo, 90%);

$purple-050:  tint-color($purple, 90%);
$purple-150:  tint-color($purple, 70%);
$purple-250:  tint-color($purple, 50%);
$purple-350:  tint-color($purple, 30%);
$purple-450:  tint-color($purple, 10%);
$purple-550: shade-color($purple, 10%);
$purple-650: shade-color($purple, 30%);
$purple-750: shade-color($purple, 50%);
$purple-850: shade-color($purple, 70%);
$purple-950: shade-color($purple, 90%);

$pink-050:  tint-color($pink, 90%);
$pink-150:  tint-color($pink, 70%);
$pink-250:  tint-color($pink, 50%);
$pink-350:  tint-color($pink, 30%);
$pink-450:  tint-color($pink, 10%);
$pink-550: shade-color($pink, 10%);
$pink-650: shade-color($pink, 30%);
$pink-750: shade-color($pink, 50%);
$pink-850: shade-color($pink, 70%);
$pink-950: shade-color($pink, 90%);

$red-050:  tint-color($red, 90%);
$red-150:  tint-color($red, 70%);
$red-250:  tint-color($red, 50%);
$red-350:  tint-color($red, 30%);
$red-450:  tint-color($red, 10%);
$red-550: shade-color($red, 10%);
$red-650: shade-color($red, 30%);
$red-750: shade-color($red, 50%);
$red-850: shade-color($red, 70%);
$red-950: shade-color($red, 90%);

$orange-050:  tint-color($orange, 90%);
$orange-150:  tint-color($orange, 70%);
$orange-250:  tint-color($orange, 50%);
$orange-350:  tint-color($orange, 30%);
$orange-450:  tint-color($orange, 10%);
$orange-550: shade-color($orange, 10%);
$orange-650: shade-color($orange, 30%);
$orange-750: shade-color($orange, 50%);
$orange-850: shade-color($orange, 70%);
$orange-950: shade-color($orange, 90%);

$yellow-050:  tint-color($yellow, 90%);
$yellow-150:  tint-color($yellow, 70%);
$yellow-250:  tint-color($yellow, 50%);
$yellow-350:  tint-color($yellow, 30%);
$yellow-450:  tint-color($yellow, 10%);
$yellow-550: shade-color($yellow, 10%);
$yellow-650: shade-color($yellow, 30%);
$yellow-750: shade-color($yellow, 50%);
$yellow-850: shade-color($yellow, 70%);
$yellow-950: shade-color($yellow, 90%);

$green-050:  tint-color($green, 90%);
$green-150:  tint-color($green, 70%);
$green-250:  tint-color($green, 50%);
$green-350:  tint-color($green, 30%);
$green-450:  tint-color($green, 10%);
$green-550: shade-color($green, 10%);
$green-650: shade-color($green, 30%);
$green-750: shade-color($green, 50%);
$green-850: shade-color($green, 70%);
$green-950: shade-color($green, 90%);

$teal-050:  tint-color($teal, 90%);
$teal-150:  tint-color($teal, 70%);
$teal-250:  tint-color($teal, 50%);
$teal-350:  tint-color($teal, 30%);
$teal-450:  tint-color($teal, 10%);
$teal-550: shade-color($teal, 10%);
$teal-650: shade-color($teal, 30%);
$teal-750: shade-color($teal, 50%);
$teal-850: shade-color($teal, 70%);
$teal-950: shade-color($teal, 90%);

$cyan-050:  tint-color($cyan, 90%);
$cyan-150:  tint-color($cyan, 70%);
$cyan-250:  tint-color($cyan, 50%);
$cyan-350:  tint-color($cyan, 30%);
$cyan-450:  tint-color($cyan, 10%);
$cyan-550: shade-color($cyan, 10%);
$cyan-650: shade-color($cyan, 30%);
$cyan-750: shade-color($cyan, 50%);
$cyan-850: shade-color($cyan, 70%);
$cyan-950: shade-color($cyan, 90%);

$gray-050:  tint-color($gray-500, 90%);
$gray-150:  tint-color($gray-500, 70%);
$gray-250:  tint-color($gray-500, 50%);
$gray-350:  tint-color($gray-500, 30%);
$gray-450:  tint-color($gray-500, 10%);
$gray-550: shade-color($gray-500, 10%);
$gray-650: shade-color($gray-500, 30%);
$gray-750: shade-color($gray-500, 50%);
$gray-850: shade-color($gray-500, 70%);
$gray-950: shade-color($gray-500, 90%);

$primary-050:        tint-color($primary, 90%);
$primary-100:        tint-color($primary, 80%);
$primary-150:        tint-color($primary, 70%);
$primary-200:        tint-color($primary, 60%);
$primary-250:        tint-color($primary, 50%);
$primary-300:        tint-color($primary, 40%);
$primary-350:        tint-color($primary, 30%);
$primary-400:        tint-color($primary, 20%);
$primary-450:        tint-color($primary, 10%);
$primary-500:                   $primary;
$primary-550:       shade-color($primary, 10%);
$primary-600:       shade-color($primary, 20%);
$primary-650:       shade-color($primary, 30%);
$primary-700:       shade-color($primary, 40%);
$primary-750:       shade-color($primary, 50%);
$primary-800:       shade-color($primary, 60%);
$primary-850:       shade-color($primary, 70%);
$primary-900:       shade-color($primary, 80%);
$primary-950:       shade-color($primary, 90%);
$primary-text-emphasis: var(--bs-primary-800);
$primary-bg-subtle:     var(--bs-primary-100);
$primary-border-subtle: var(--bs-primary-200);

$secondary-050:        tint-color($secondary, 90%);
$secondary-100:        tint-color($secondary, 80%);
$secondary-150:        tint-color($secondary, 70%);
$secondary-200:        tint-color($secondary, 60%);
$secondary-250:        tint-color($secondary, 50%);
$secondary-300:        tint-color($secondary, 40%);
$secondary-350:        tint-color($secondary, 60%);
$secondary-400:        tint-color($secondary, 20%);
$secondary-450:        tint-color($secondary, 10%);
$secondary-500:                   $secondary;
$secondary-550:       shade-color($secondary, 10%);
$secondary-600:       shade-color($secondary, 20%);
$secondary-650:       shade-color($secondary, 30%);
$secondary-700:       shade-color($secondary, 40%);
$secondary-750:       shade-color($secondary, 50%);
$secondary-800:       shade-color($secondary, 60%);
$secondary-850:       shade-color($secondary, 70%);
$secondary-900:       shade-color($secondary, 80%);
$secondary-950:       shade-color($secondary, 90%);
$secondary-text-emphasis: var(--bs-secondary-800);
$secondary-bg-subtle:     var(--bs-secondary-100);
$secondary-border-subtle: var(--bs-secondary-200);

$success-050:        tint-color($success, 90%);
$success-100:        tint-color($success, 80%);
$success-150:        tint-color($success, 70%);
$success-200:        tint-color($success, 60%);
$success-250:        tint-color($success, 50%);
$success-300:        tint-color($success, 40%);
$success-350:        tint-color($success, 30%);
$success-400:        tint-color($success, 20%);
$success-450:        tint-color($success, 10%);
$success-500:                   $success;
$success-550:       shade-color($success, 10%);
$success-600:       shade-color($success, 20%);
$success-650:       shade-color($success, 30%);
$success-700:       shade-color($success, 40%);
$success-750:       shade-color($success, 50%);
$success-800:       shade-color($success, 60%);
$success-850:       shade-color($success, 70%);
$success-900:       shade-color($success, 80%);
$success-950:       shade-color($success, 90%);
$success-text-emphasis: var(--bs-success-800);
$success-bg-subtle:     var(--bs-success-100);
$success-border-subtle: var(--bs-success-200);

$danger-050:        tint-color($danger, 90%);
$danger-100:        tint-color($danger, 80%);
$danger-150:        tint-color($danger, 70%);
$danger-200:        tint-color($danger, 60%);
$danger-250:        tint-color($danger, 50%);
$danger-300:        tint-color($danger, 40%);
$danger-350:        tint-color($danger, 30%);
$danger-400:        tint-color($danger, 20%);
$danger-450:        tint-color($danger, 10%);
$danger-500:                   $danger;
$danger-550:       shade-color($danger, 10%);
$danger-600:       shade-color($danger, 20%);
$danger-650:       shade-color($danger, 30%);
$danger-700:       shade-color($danger, 40%);
$danger-750:       shade-color($danger, 50%);
$danger-800:       shade-color($danger, 60%);
$danger-850:       shade-color($danger, 70%);
$danger-900:       shade-color($danger, 80%);
$danger-950:       shade-color($danger, 90%);
$danger-text-emphasis: var(--bs-danger-800);
$danger-bg-subtle:     var(--bs-danger-100);
$danger-border-subtle: var(--bs-danger-200);

$warning-050:        tint-color($warning, 90%);
$warning-100:        tint-color($warning, 80%);
$warning-150:        tint-color($warning, 70%);
$warning-200:        tint-color($warning, 60%);
$warning-250:        tint-color($warning, 50%);
$warning-300:        tint-color($warning, 40%);
$warning-350:        tint-color($warning, 30%);
$warning-400:        tint-color($warning, 20%);
$warning-450:        tint-color($warning, 10%);
$warning-500:                   $warning;
$warning-550:       shade-color($warning, 10%);
$warning-600:       shade-color($warning, 20%);
$warning-650:       shade-color($warning, 30%);
$warning-700:       shade-color($warning, 40%);
$warning-750:       shade-color($warning, 50%);
$warning-800:       shade-color($warning, 60%);
$warning-850:       shade-color($warning, 70%);
$warning-900:       shade-color($warning, 80%);
$warning-950:       shade-color($warning, 90%);
$warning-text-emphasis: var(--bs-warning-800);
$warning-bg-subtle:     var(--bs-warning-100);
$warning-border-subtle: var(--bs-warning-200);

$info-050:        tint-color($info, 90%);
$info-100:        tint-color($info, 80%);
$info-150:        tint-color($info, 70%);
$info-200:        tint-color($info, 60%);
$info-250:        tint-color($info, 50%);
$info-300:        tint-color($info, 40%);
$info-350:        tint-color($info, 30%);
$info-400:        tint-color($info, 20%);
$info-450:        tint-color($info, 10%);
$info-500:                   $info;
$info-550:       shade-color($info, 10%);
$info-600:       shade-color($info, 20%);
$info-650:       shade-color($info, 30%);
$info-700:       shade-color($info, 40%);
$info-750:       shade-color($info, 50%);
$info-800:       shade-color($info, 60%);
$info-850:       shade-color($info, 70%);
$info-900:       shade-color($info, 80%);
$info-950:       shade-color($info, 90%);
$info-text-emphasis: var(--bs-info-800);
$info-bg-subtle:     var(--bs-info-100);
$info-border-subtle: var(--bs-info-200);

$light-050:        tint-color($light, 90%);
$light-100:        tint-color($light, 80%);
$light-150:        tint-color($light, 70%);
$light-200:        tint-color($light, 60%);
$light-250:        tint-color($light, 50%);
$light-300:        tint-color($light, 40%);
$light-350:        tint-color($light, 30%);
$light-400:        tint-color($light, 20%);
$light-450:        tint-color($light, 10%);
$light-500:                   $light;
$light-550:       shade-color($light, 10%);
$light-600:       shade-color($light, 20%);
$light-650:       shade-color($light, 30%);
$light-700:       shade-color($light, 40%);
$light-750:       shade-color($light, 50%);
$light-800:       shade-color($light, 60%);
$light-850:       shade-color($light, 70%);
$light-900:       shade-color($light, 80%);
$light-950:       shade-color($light, 90%);
$light-text-emphasis: var(--bs-light-700);
$light-bg-subtle:     var(--bs-light-100);
$light-border-subtle: var(--bs-light-200);

$dark-050:        tint-color($dark, 90%);
$dark-100:        tint-color($dark, 80%);
$dark-150:        tint-color($dark, 70%);
$dark-200:        tint-color($dark, 60%);
$dark-250:        tint-color($dark, 50%);
$dark-300:        tint-color($dark, 40%);
$dark-350:        tint-color($dark, 30%);
$dark-400:        tint-color($dark, 20%);
$dark-450:        tint-color($dark, 10%);
$dark-500:                   $dark;
$dark-550:       shade-color($dark, 10%);
$dark-600:       shade-color($dark, 20%);
$dark-650:       shade-color($dark, 30%);
$dark-700:       shade-color($dark, 40%);
$dark-750:       shade-color($dark, 50%);
$dark-800:       shade-color($dark, 60%);
$dark-850:       shade-color($dark, 70%);
$dark-900:       shade-color($dark, 80%);
$dark-950:       shade-color($dark, 90%);
$dark-text-emphasis: var(--bs-dark-700);
$dark-bg-subtle:     var(--bs-dark-100);
$dark-border-subtle: var(--bs-dark-200);

//endregion -------------------- Colors variables --------------------

//endregion -------------------- Override variables --------------------
