//region -------------------- Variables to customize Bootstrap --------------------

$enable-important-utilities: false;

$enable-negative-margins: true;

//endregion -------------------- Variables to customize Bootstrap --------------------

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

//region -------------------- Custom variables --------------------

$grid-breakpoint-xs: #{map-get($grid-breakpoints, xs)};
$grid-breakpoint-sm: #{map-get($grid-breakpoints, sm)};
$grid-breakpoint-md: #{map-get($grid-breakpoints, md)};
$grid-breakpoint-lg: #{map-get($grid-breakpoints, lg)};
$grid-breakpoint-xl: #{map-get($grid-breakpoints, xl)};
$grid-breakpoint-xxl: #{map-get($grid-breakpoints, xxl)};

//endregion -------------------- Custom variables --------------------

//region -------------------- Override variables --------------------

$spacers-original: $spacers;
$spacers: (
        0: var(--bs-spacer-xs),
        1: var(--bs-spacer-sm),
        2: var(--bs-spacer-md),
        3: var(--bs-spacer-lg),
        4: var(--bs-spacer-xl),
        5: var(--bs-spacer-xxl),
);

//endregion -------------------- Override variables --------------------